@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ContextCommertial</h1>
    <p class="lead">Данный проект предназначен для помощи рекламодателям с организацией отображения контекстной рекламы</p>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BD%D1%82%D0%B5%D0%BA%D1%81%D1%82%D0%BD%D0%B0%D1%8F_%D1%80%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%B0" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Высокая эффективность</h2>
        <p>
            Контекстная реклама не назойлива, подсознательно воспринимается пользователями как дополнительная информация на сайте, 
            вызывает доверие. К тому же пользователь находится в активном поиске конкретного товара или услуги, 
            а это значит то что он - ваш потенциальный клиент.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Широкая аудитория</h2>
        <p>
            Объявления системы контекстной рекламы Яндекс.Директ, к примеру, ежедневно видят 15 000 000 человек.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">ссылка куда-нибудь &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Точное отслеживание всех параметров</h2>
        <p>
            Вы можете оценивать эффективность рекламной кампании вплоть до прослеживания интересов каждого пользователя и характера его поведения на сайте. 
            Ни одно маркетинговое исследование не даст Вам более подробной статистики.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">еще одна ссылка &raquo;</a></p>
    </div>
</div>